include includes/head
  script(src='/javascript/lib/jade.js')
  script(src='/javascript/hospital.js')
  script#hospital_template(type="template/jade").
    tr
      td=name
      td=price
      td: a(href="/tools/hospitals/remove/\#{_id}") delete
  script#hospital_option(type="template/jade").
    option(value="\#{name}")=name
  script#alert_template(type="template/jade").
    div.alert
      button.close(data-dismiss="alert") ×
      |\#{message}
  script#student_template(type="template/jade").
    tr
      td=className
      td=amount
      td=time
      td=hospital
      td: a(href="/tools/students/remove/\#{_id}") delete
div.container
  div.row
    div.span12: h2 hospitals
    div.span5
      table.table.table-bordered.table-hover
        thead: tr
          td name
          td price
          td delete
        tbody#hospital_table
        for hospital in hospitals
          tr
            td=hospital.name
            td=hospital.price
            td: a(href="/tools/hospitals/remove/#{hospital._id}") delete
    div.span4.offset2
      form#hospital_form(action="/tools/hospitals/save",method="post")
        label name:
        input(name="name", type="text", required="", placeholder="hospital name")
        label price:
        input(name="price",type="number", required="", placeholder="hospital price")
        button.btn.btn-primary.offset3 add
  div.row
    div.span12: h2 students
    div.span6
      table.table.table-bordered.table-hover
        thead: tr
          td class
          td amount
          td time
          td hospital
          td delete
        tbody#student_table
          for student in students
            tr
              td=student.className
              td=student.amount
              td=student.time
              td=student.hospital
              td: a(href="/tools/students/remove/#{student._id}") delete
    div.span4.offset1
      form#student_form(action="/tools/students/save",method="post")
        label class:
        input(name="className", type="text", required="", placeholder="hospital name")
        label amount:
        input(name="amount",type="number", required="", placeholder="hospital price")
        label time:
        input(name="time",type="number", required="", placeholder="hospital price")
        label hospital:
        select(name="hospital",type="text", required="")
          for hospital in hospitals
            option(value="#{hospital.name}")=hospital.name
        button.btn.btn-primary.offset3 add
  div.row
    div.span12: h2 bills
    div.span10
      for bill in bills
        h5 Hospital: #{bill.name}
        h5 Price: #{bill.price}
        h5 Totlal: #{bill.total}
        table.table.table-bordered.table-hover
          thead: tr
              td.span2 class
              td.span2 time
              td.span2 class total
          tbody
          for student in bill.students
            tr
              td=student.className
              td=student.time
              td=student.total
