extends includes/layout
block head
  title
    |mqli blog
block content
  for post in posts
    h2: a(href="/post/#{post._id}") #{post.title}
    p
      span.tags
        for tag in post.tags
          a(href="/tag/#{tag}"): span.label.label-info #{tag}
        i.icon-calendar
        =post.createTime.getFullYear()+'-'
        =post.createTime.getMonth()+1+'-'
        =post.createTime.getDate()
    div 
      |!{post.content}
  if posts.length == 0
    p no result
